#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  background-image: url('/background.png');
  background-repeat: no-repeat;
  background-size: 600px;
  background-position-y: -90px;
  background-position-x: -90px;
}

.headerComponent {
  height: 10vh;
  width: 80vw;
  margin: auto;
  border: 1px solid red;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.myName {
  font-size: 2em;
  margin: auto 3%;
  font-weight: bolder
}

.buttonsContainer {
  margin: auto 0;
  padding: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerButton {
  width: 100px;
  height: 30px;
  background-color: white;
  color: rgba(20,15,45, 1);
  font-size: 0.8em;
  border-radius: 5px;
  margin: auto 10px;
  border: 1px solid white;
}

.btn:hover, .btn-primary:hover {
  cursor: pointer;
  background-color: white;
  color: rgba(28,79,127, 1);
  border: 1px solid rgba(28,79,127, 1);
  box-sizing: border-box;
}


.mainComponent {
  width: 80vw;
  display: flex;
  margin: auto;
  flex-direction: row;
  flex: 1;
  border: blue 3px solid;
  box-sizing: border-box;
}
