#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.headerComponent {
  height: 10vh;
  width: 100vw;
  border: 1px solid red;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttonsContainer {
  margin: auto;
  margin-right: 1%
}

.headerButton {
  border-style: none;
  border: 1px red solid;
  color: red;
  font-size: 1em;
  display: inline-block;
}

.mainComponent {
  display: flex;
  flex-direction: row;
  flex: 1;
  border: blue 3px solid;
  box-sizing: border-box;
}

.sideBarComponent {
  width: 20vw;
  box-sizing: border-box;
  border: 1px solid green;
}

.displayComponent {
  width: 80vw;
  box-sizing: border-box;
  border: 1px solid yellow;
}

.rotatedText {
  transform: rotate(90deg);
  transform-origin: 20% 40%;
  padding-left: 30%;
  width: 50vh;
}
