#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  background-image: url('./assets/background.png');
  background-repeat: no-repeat;
  background-size: 600px;
  background-position-y: -90px;
  background-position-x: -90px;
  background-attachment: fixed;
}

.headerComponent {
  height: 10vh;
  width: 80vw;
  margin: 0 auto 5%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px black solid;
}

.myName {
  font-size: 2em;
  margin: auto 3%;
  font-weight: bolder;
}

.buttonsContainer {
  margin: auto 0;
  padding: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerButton {
  width: 100px;
  height: 30px;
  background-color: white;
  color: rgba(20,15,45, 1);
  font-size: 0.8em;
  border-radius: 5px;
  margin: auto 10px;
  border: 1px solid white;
}

.btn:hover, .btn-primary:hover {
  cursor: pointer;
  background-color: white;
  color: rgba(28,79,127, 1);
  border: 1px solid rgba(28,79,127, 1);
  box-sizing: border-box;
  text-decoration: none;
}


.mainComponent {
  width: 80vw;
  display: flex;
  margin: auto;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
  min-height: 800px;
  max-height: 800px;
  min-width: 1000px;
  max-width: 1000px;

}

.projectComponent {
  flex: 1;
  margin: auto;
  height: 100vh;
  min-height: 470px;
  min-width: 1000px;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
}

.projectDescriptionBox {
  width: 50%;
  margin: auto;
  padding: 0 10%;
}

.backButton {
  display: inline;
  position: relative;
  right: 5%;
}

.backButton > a:hover {
  text-decoration: none;
  opacity: .5;
}

.frameworkBox {
  font-size: 0.9em;
  padding: 5%;
}

.frameworkText {
  display: block;
  font-size: 1em;
  color: rgba(60,45,135, 1);
}

.projectDescriptionBox > small {
  display: block;
  padding: 5%;
  margin-bottom: 10%;
  box-shadow: 10px 0px 100px rgba(200,200,200,0.8);
  border-radius: 10px;

  line-height: 25px;
  text-align: left;
  text-indent: 1em;
}

.projectDescriptionBox > p {
  font-weight: bolder;
  color: rgba(200,200,200,1);
  margin: 0
}

.linksBox {
  margin-top: 5%;
}

.linksBox > a {
  display: block;
  font-weight: bolder;
}

.projectImageBox {
  width: 50%;
  height: 80%;
  margin: auto;
  display: block;
}

.projectScreenshot {
  padding: auto;
  height: auto;
}

.projectImageBox, .projectScreenshot {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}



.portfolioComponent {
  width: 100%;
  height: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: row;
  padding: 5% 0;
}

.mainInfo {
  flex: 1;
  color: rgba(20,15,45, 1);
  padding: 10% 0;

}

.mainInfo > h3 {
  font-weight: bolder;
  line-height: 180%;
  padding-bottom: 5%;
}

.mainInfo > h5 {
  line-height: 150%;
}

.displayPicsContainer {
  flex: 1;
  display: flex;
  flex-direction: row
}

.picsLeft, .picsRight {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.topLeft {
  display: block;
  flex: 5;
  background-image: url('./assets/scheduler.gif');
  background-size: 102%;
  background-repeat: no-repeat;
}

.bottomLeft {
  display: block;
  flex: 6;
  background-image: url('./assets/working.jpg');
  background-size: cover;
  background-position: right
}

.topRight {
  display: block;
  flex: 12;
  background-image: url('./assets/spotify.gif');
  background-repeat: no-repeat;
  background-size: 103%;
}

.bottomRight {
  display: block;
  flex: 23;
  background-image: url('./assets/cupcakes.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: rgba(255, 240, 231, 1);
}

.pics {
  border-radius: 5px;
  margin: 3%;
}

/* .pics:hover {
  filter: brightness(30%)
} */

.pics:hover > .overlay {
  width:100%;
  height:100%;
  position:relative;
  background-color:rgba(20,15,45, 1);
  opacity:0.8;
  border-radius: 5px;
  cursor: pointer;
}

.overlayActive {
  width:100%;
  height:100%;
  position:relative;
  background-color:rgba(20,15,45, 1);
  opacity:0.8;
  border-radius: 5px;
}

.overlayText {
  padding-top: 50%;
  color: white;
  opacity: 1;
  text-align: center;
}

.console {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.projectCard {
  height: 80%;
  width: 24%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 10px 0px 100px rgba(200,200,200,0.8);
  transition: transform .3s;
}

.projectCard:hover {
  transform: scale(1.05);
  cursor: pointer;
  text-decoration: none;
}

.cardIcon {
  height: 30px;
  width: 30px;
  margin-left: 5px;
  margin-top: 5px;
}

.Festival {
  background-color: rgba(229,79,69, 1);
  border-radius: 100px;
  margin: 15% auto 5% auto;
  height: 40px;
  width: 40px;
}

.Spotify {
  background-color: rgba(20,15,45, 1);
  border-radius: 100px;
  margin: 15% auto 5% auto;
  height: 40px;
  width: 40px;
}

.Cupcake {
  background-color: rgba(255, 240, 231, 1);
  border-radius: 100px;
  margin: 15% auto 5% auto;
  height: 40px;
  width: 40px;

}

.cardTitle {
  text-align: center;
  font-size: 1.3em;
  font-weight: bolder;
  color: rgba(20,15,45, 1);

}

.cardText {
  padding-top: 10%;
  text-align: center;
  color: rgba(20,15,45, 1);
}

.aboutComponent {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-image: url('./assets/baltimore.jpg');
  background-position: bottom right;
  background-size: 50%;
  background-repeat: no-repeat;
}

.aboutMePersonal {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: space-between;
}

.headshotBox {
  width: 70%;
  margin: auto;
  flex: 1
}

.aboutMeText {
  flex: 1;
  margin: 5% auto 0;
  display: block;
  width: 80%;
  text-indent: 2em;
}

.skills {
  margin-top: 5%;
  font-weight: bolder;
  text-align: center;
  font-size: 1em;
  text-indent: 0;
}

.aboutMeInfo {
  width: 50%;
  margin-top: 0;
  display: flex;
  flex-direction: column;
}

.aboutMeInfo > div {
  text-align: right;
  padding: 10% 10%;
}

.aboutMeInfo > div > a {
  display: inline;
  margin-right: 10%;
}

.icons {
  width: 30px;
  length: 30px;
}
